#ECCN: Open Source
#GUSINFO: SFDO Release Engineering, SFDO RelEng - CumulusCI Core
# Python
*.py                  @SFDO-Tooling/salesforce-org-release-engineering

# CumulusCI
/cumulusci.yml        @SFDO-Tooling/salesforce-org-release-engineering
/tasks/               @SFDO-Tooling/salesforce-org-release-engineering

# Heroku CI
/Gemfile.lock         @SFDO-Tooling/salesforce-org-release-engineering
/app.json             @SFDO-Tooling/salesforce-org-release-engineering
/requirements.txt     @SFDO-Tooling/salesforce-org-release-engineering
/runtime.txt          @SFDO-Tooling/salesforce-org-release-engineering
