#ErrorDocument 200 /index.html
#ErrorDocument 404 /index.html
#RewriteEngine on
#RewriteRule ^ - [R=200]
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [NC,L,QSA]
